@font-face {
  font-family: 'GT Haptik';
  src: url("../fonts/gt-haptik-medium-webfont.ttf") format("truetype");
}

body {
  font-family: 'GT Haptik';
  background: #12007a;
}

.hide-overflow {
  overflow: hidden;
}

.star {
  position: fixed;
  z-index: 1;
  background: #ffffff;
}

.comet {
  position: fixed;
  z-index: 2;
}

.planet-label {
  margin-top: -25px;
  position: absolute;
  font-size: 18px;
  color: white;
  opacity: 0;
  transition: 0.8s;
}

.wrapper {
  margin-top: 50px;
  margin-left: 50px;
}

.planet {
  position: absolute;
  z-index: 999;
}
