#neptune {
  margin-left: -20px;
  margin-top: -20px;
}

#uranus {
  margin-left: -25px;
  margin-top: -25px;
}

#saturn {
  margin-left: -40px;
  margin-top: -40px;
}

#jupiter {
  margin-left: -50px;
  margin-top: -50px;
}

#mars {
  margin-left: -18px;
  margin-top: -18px;
}

#earth {
  margin-left: -20px;
  margin-top: -20px;
}

#venus {
  margin-left: -19px;
  margin-top: -19px;
}

#mercury {
  margin-left: -15px;
  margin-top: -15px;
}

#sun {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

