<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>

  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/orbit-transformations.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/planet-transformations.css" />
</head>

<body>
  <div class="starfield">
    <div class="hide-overflow">

    </div>
  </div>

  <div class="wrapper">
    <div id="neptune-wrapper">
      <div class="planet" id="neptune">
        <p class="planet-label" id="nep-label">Neptune</p>
        <svg class="planet-shape" id="nep-shape" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <radialGradient id="neptune-radial" gradientTransform="translate(-50 -50) scale(1.5)"
              gradientUnits="userSpaceOnUse">
              <!-- light to dark -->
              <stop stop-color="#84B5FF" />
              <stop offset="1" stop-color="#967CFF" stop-opacity="0" />
            </radialGradient>
          </defs>
          <circle class="outlinePlanet" cx="50" cy="50" r="40" fill="url('#neptune-radial')"
            vector-effect="non-scaling-stroke" />
        </svg>
      </div>
      <svg class="orbit" id="neptune-orbit" viewBox="0 0 2000 2000" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.5,1000a997.5,997.5 0 1,0 1995,0a997.5,997.5 0 1,0 -1995,0" vector-effect="non-scaling-stroke" />
      </svg>
    </div>

    <div id="uranus-wrapper">
      <div class="planet" id="uranus">
        <p class="planet-label" id="ura-label">Uranus</p>
        <svg class="planet-shape" id="ura-shape" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <radialGradient id="uranus-radial" gradientTransform="translate(-50 -50) scale(1.5)"
              gradientUnits="userSpaceOnUse">
              <!-- light to dark -->
              <stop stop-color="#A5FFD4" />
              <stop offset="1" stop-color="#88EAFF" stop-opacity="0" />
            </radialGradient>
          </defs>
          <circle class="outlinePlanet" cx="50" cy="50" r="40" fill="url('#uranus-radial')"
            vector-effect="non-scaling-stroke" />
        </svg>
      </div>
      <svg class="orbit" id="uranus-orbit" viewBox="0 0 2000 2000" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.5,1000a997.5,997.5 0 1,0 1995,0a997.5,997.5 0 1,0 -1995,0" vector-effect="non-scaling-stroke" />
      </svg>
    </div>

    <div id="saturn-wrapper">
      <div class="planet" id="saturn">
        <p class="planet-label" id="sat-label">Saturn</p>
        <svg class="planet-shape" id="sat-shape" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <radialGradient id="saturn-radial" gradientTransform="translate(-50 -50) scale(1.5)"
              gradientUnits="userSpaceOnUse">
              <!-- light to dark -->
              <stop stop-color="#FFF59C" />
              <stop offset="0.5" stop-color="#FFD79A" stop-opacity="0.5" />
              <stop offset="1" stop-color="#83F8FF" stop-opacity="0" />
            </radialGradient>
          </defs>
          <circle class="outlinePlanet" cx="50" cy="50" r="40" fill="url('#saturn-radial')" />
          <g transform-origin="50 50" transform="rotate(-25)">
            <ellipse cx="50" cy="50" rx="50" ry="15" fill="none" stroke="#FFD79A" stroke-width="4" opacity="0.5" />
            <ellipse cx="50" cy="48" rx="50" ry="15" fill="none" stroke="FFF59C" stroke-width="2" opacity="0.8" />
          </g>
        </svg>
      </div>

      <svg class="orbit" id="saturn-orbit" viewBox="0 0 2000 2000" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.5,1000a997.5,997.5 0 1,0 1995,0a997.5,997.5 0 1,0 -1995,0" vector-effect="non-scaling-stroke" />
      </svg>
    </div>

    <div id="jupiter-wrapper">
      <div class="planet" id="jupiter">
        <p class="planet-label" id="jup-label">Jupiter</p>
        <svg class="planet-shape" id="jup-shape" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <radialGradient id="jupiter-radial" gradientTransform="translate(-50 -50) scale(1.5)"
              gradientUnits="userSpaceOnUse">
              <!-- light to dark -->
              <stop stop-color="#FFDE9F" />
              <stop offset="0.5" stop-color="#FFBE99" stop-opacity="0.5" />
              <stop offset="1" stop-color="#FF7DA4" stop-opacity="0" />
            </radialGradient>
          </defs>
          <circle class="outlinePlanet" cx="50" cy="50" r="40" fill="url('#jupiter-radial')"
            vector-effect="non-scaling-stroke" />
        </svg>
      </div>
      <svg class="orbit" id="jupiter-orbit" viewBox="0 0 2000 2000" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.5,1000a997.5,997.5 0 1,0 1995,0a997.5,997.5 0 1,0 -1995,0" vector-effect="non-scaling-stroke" />
      </svg>
    </div>

    <div id="mars-wrapper">
      <div class="planet" id="mars">
        <p class="planet-label" id="mar-label">Mars</p>
        <svg class="planet-shape" id="mar-shape" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <radialGradient id="mars-radial" gradientTransform="translate(-50 -50) scale(1.5)"
              gradientUnits="userSpaceOnUse">
              <!-- light to dark -->
              <stop stop-color="#FF6C4B" />
              <stop offset="1" stop-color="#FF29EA" stop-opacity="0" />
            </radialGradient>
          </defs>
          <circle class="outlinePlanet" cx="50" cy="50" r="40" fill="url('#mars-radial')"
            vector-effect="non-scaling-stroke" />
        </svg>
      </div>
      <svg class="orbit" id="mars-orbit" viewBox="0 0 2000 2000" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.5,1000a997.5,997.5 0 1,0 1995,0a997.5,997.5 0 1,0 -1995,0" vector-effect="non-scaling-stroke" />
      </svg>
    </div>

    <div id="earth-wrapper">
      <div class="planet" id="earth">
        <p class="planet-label" id="ear-label">Earth</p>
        <svg class="planet-shape" id="ear-shape" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <radialGradient id="earth-radial" gradientTransform="translate(-50 -50) scale(1.5)"
              gradientUnits="userSpaceOnUse">
              <!-- light to dark -->
              <stop stop-color="#64FFFF" />
              <stop offset="1" stop-color="#5C80FF" stop-opacity="0" />
            </radialGradient>
          </defs>
          <circle class="outlinePlanet" cx="50" cy="50" r="40" fill="url('#earth-radial')"
            vector-effect="non-scaling-stroke" />
        </svg>
      </div>
      <svg class="orbit" id="earth-orbit" viewBox="0 0 2000 2000" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.5,1000a997.5,997.5 0 1,0 1995,0a997.5,997.5 0 1,0 -1995,0" vector-effect="non-scaling-stroke" />
      </svg>
    </div>

    <div id="venus-wrapper">
      <div class="planet" id="venus">
        <p class="planet-label" id="ven-label">Venus</p>
        <svg class="planet-shape" id="ven-shape" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <radialGradient id="venus-radial" gradientTransform="translate(-50 -50) scale(1.5)"
              gradientUnits="userSpaceOnUse">
              <!-- light to dark -->
              <stop stop-color="#FFC5B8" />
              <stop offset="1" stop-color="#FF9472" stop-opacity="0" />
            </radialGradient>
          </defs>
          <circle class="outlinePlanet" cx="50" cy="50" r="40" fill="url('#venus-radial')"
            vector-effect="non-scaling-stroke" />
        </svg>
      </div>
      <svg class="orbit" id="venus-orbit" viewBox="0 0 2000 2000" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.5,1000a997.5,997.5 0 1,0 1995,0a997.5,997.5 0 1,0 -1995,0" vector-effect="non-scaling-stroke" />
      </svg>
    </div>

    <div id="mercury-wrapper">
      <div class="planet" id="mercury">
        <p class="planet-label" id="mer-label">Mercury</p>
        <svg class="planet-shape" id="mer-shape" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <radialGradient id="mercury-radial" gradientTransform="translate(-50 -50) scale(1.5)"
              gradientUnits="userSpaceOnUse">
              <!-- light to dark -->
              <stop stop-color="#FFE456" />
              <stop offset="1" stop-color="#FF8E25" stop-opacity="0" />
            </radialGradient>
          </defs>
          <circle class="outlinePlanet" cx="50" cy="50" r="40" fill="url('#mercury-radial')"
            vector-effect="non-scaling-stroke" />
        </svg>
      </div>
      <svg class="orbit" id="mercury-orbit" viewBox="0 0 2000 2000" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.5,1000a997.5,997.5 0 1,0 1995,0a997.5,997.5 0 1,0 -1995,0" vector-effect="non-scaling-stroke" />
      </svg>
    </div>

    <div id="sun-wrapper">
      <div class="planet" id="sun">
        <svg class="planet-shape" id="sun-shape" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <radialGradient id="sun-radial" gradientTransform="translate(0.6 0.75) scale(1.2)"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#52A9FF" stop-opacity="0" />
              <stop offset="42%" stop-color="#FF6161" stop-opacity="0.3" />
              <stop offset="1" stop-color="#FFDC7B" />
            </radialGradient>
          </defs>
          <circle class="outlinePlanet" cx="50" cy="50" r="40" fill="url('#sun-radial')"
            vector-effect="non-scaling-stroke" />
        </svg>
      </div>
    </div>
  </div>
  <!-- end wrapper -->

  <!-- waves in background -->
  <div class="wave-container">
    <svg id="wave1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <defs>
        <linearGradient id="wavy1-linear" gradientTransform="rotate(10)">
          <stop offset="0%" stop-color="#BD69FF" stop-opacity="0.1" />
          <stop offset="100%" stop-color="#74FFFF" stop-opacity="0" />
        </linearGradient>
      </defs>
      <path fill="url(#wavy1-linear)"
        d="M0,64L48,58.7C96,53,192,43,288,74.7C384,107,480,181,576,192C672,203,768,149,864,138.7C960,128,1056,160,1152,149.3C1248,139,1344,85,1392,58.7L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
      </path>
    </svg>
  </div>

  <div class="wave-container">
    <svg id="wave2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <defs>
        <linearGradient id="wavy2-linear" gradientTransform="rotate(-10)">
          <stop offset="0%" stop-color="#BD69FF" stop-opacity="0" />
          <stop offset="100%" stop-color="#74FFFF" stop-opacity="0.1" />
        </linearGradient>
      </defs>
      <path fill="url(#wavy2-linear)"
        d="M0,256L48,250.7C96,245,192,235,288,202.7C384,171,480,117,576,85.3C672,53,768,43,864,80C960,117,1056,203,1152,202.7C1248,203,1344,117,1392,74.7L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
      </path>
    </svg>
  </div>

  <script src="scripts/planetData.js"></script>
  <script src="scripts/main.js"></script>
  <script src="scripts/bg-comets.js"></script>
  <script src="scripts/bg-stars.js"></script>
  <script src="scripts/orbits.js"></script>
  <script src="scripts/label-animations.js"></script>
</body>

</html>
