<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>

  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/orbit-transformations.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/planet-transformations.css" />
</head>

<body>
  <div class="starfield">
    <div class="hide-overflow">

    </div>
  </div>

  <div id="detail-table">
  </div>

  <div id="intro">
    <svg id="moon" viewBox="0 0 320 349" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g style="mix-blend-mode:color-dodge">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M49.6246 279.099C131.512 279.099 197.895 212.716 197.895 130.828C197.895 75.3336 167.408 26.9597 122.268 1.54208C129.889 0.525024 137.665 0 145.564 0C241.902 0 320 78.0976 320 174.436C320 270.774 241.902 348.872 145.564 348.872C84.7601 348.872 31.2224 317.762 0 270.591C15.5154 276.1 32.2198 279.099 49.6246 279.099Z" />
      </g>
    </svg>
    <div id="intro-text">
      <h1>RACCOONAUT'S EXPEDITION</h1>
      <h2>let's float around the vast unknown!</h2>
    </div>
  </div>

  <div class="wrapper">
    <div id="neptune-wrapper">
      <div class="planet" id="neptune">
        <p class="planet-label" id="nep-label">Neptune</p>
        <svg class="planet-shape" id="nep-shape" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <radialGradient id="neptune-radial" gradientTransform="translate(-50 -50) scale(1.5)"
              gradientUnits="userSpaceOnUse">
              <!-- light to dark -->
              <stop stop-color="#84B5FF" />
              <stop offset="1" stop-color="#967CFF" stop-opacity="0" />
            </radialGradient>
          </defs>
          <circle class="outlinePlanet" cx="50" cy="50" r="40" fill="url('#neptune-radial')"
            vector-effect="non-scaling-stroke" />
        </svg>
      </div>
      <svg class="orbit" id="neptune-orbit" viewBox="0 0 2000 2000" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.5,1000a997.5,997.5 0 1,0 1995,0a997.5,997.5 0 1,0 -1995,0" vector-effect="non-scaling-stroke" />
      </svg>
    </div>

    <div id="uranus-wrapper">
      <div class="planet" id="uranus">
        <p class="planet-label" id="ura-label">Uranus</p>
        <svg class="planet-shape" id="ura-shape" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <radialGradient id="uranus-radial" gradientTransform="translate(-50 -50) scale(1.5)"
              gradientUnits="userSpaceOnUse">
              <!-- light to dark -->
              <stop stop-color="#A5FFD4" />
              <stop offset="1" stop-color="#88EAFF" stop-opacity="0" />
            </radialGradient>
          </defs>
          <circle class="outlinePlanet" cx="50" cy="50" r="40" fill="url('#uranus-radial')"
            vector-effect="non-scaling-stroke" />
        </svg>
      </div>
      <svg class="orbit" id="uranus-orbit" viewBox="0 0 2000 2000" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.5,1000a997.5,997.5 0 1,0 1995,0a997.5,997.5 0 1,0 -1995,0" vector-effect="non-scaling-stroke" />
      </svg>
    </div>

    <div id="saturn-wrapper">
      <div class="planet" id="saturn">
        <p class="planet-label" id="sat-label">Saturn</p>
        <svg class="planet-shape" id="sat-shape" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <radialGradient id="saturn-radial" gradientTransform="translate(-50 -50) scale(1.5)"
              gradientUnits="userSpaceOnUse">
              <!-- light to dark -->
              <stop stop-color="#FFF59C" />
              <stop offset="0.5" stop-color="#FFD79A" stop-opacity="0.5" />
              <stop offset="1" stop-color="#83F8FF" stop-opacity="0" />
            </radialGradient>
          </defs>
          <circle class="outlinePlanet" cx="50" cy="50" r="40" fill="url('#saturn-radial')" />
          <g transform-origin="50 50" transform="rotate(-25)">
            <ellipse cx="50" cy="50" rx="50" ry="15" fill="none" stroke="#FFD79A" stroke-width="4" opacity="0.5" />
            <ellipse cx="50" cy="48" rx="50" ry="15" fill="none" stroke="FFF59C" stroke-width="2" opacity="0.8" />
          </g>
        </svg>
      </div>

      <svg class="orbit" id="saturn-orbit" viewBox="0 0 2000 2000" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.5,1000a997.5,997.5 0 1,0 1995,0a997.5,997.5 0 1,0 -1995,0" vector-effect="non-scaling-stroke" />
      </svg>
    </div>

    <div id="jupiter-wrapper">
      <div class="planet" id="jupiter">
        <p class="planet-label" id="jup-label">Jupiter</p>
        <svg class="planet-shape" id="jup-shape" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <radialGradient id="jupiter-radial" gradientTransform="translate(-50 -50) scale(1.5)"
              gradientUnits="userSpaceOnUse">
              <!-- light to dark -->
              <stop stop-color="#FFDE9F" />
              <stop offset="0.5" stop-color="#FFBE99" stop-opacity="0.5" />
              <stop offset="1" stop-color="#FF7DA4" stop-opacity="0" />
            </radialGradient>
          </defs>
          <circle class="outlinePlanet" cx="50" cy="50" r="40" fill="url('#jupiter-radial')"
            vector-effect="non-scaling-stroke" />
        </svg>
      </div>
      <svg class="orbit" id="jupiter-orbit" viewBox="0 0 2000 2000" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.5,1000a997.5,997.5 0 1,0 1995,0a997.5,997.5 0 1,0 -1995,0" vector-effect="non-scaling-stroke" />
      </svg>
    </div>

    <div id="asteroidbelt-wrapper">
      <svg class="orbit" id="asteroid-belt" viewBox="0 0 2000 2000" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.5,1000a997.5,997.5 0 1,0 1995,0a997.5,997.5 0 1,0 -1995,0" vector-effect="non-scaling-stroke" />
      </svg>
    </div>

    <div id="mars-wrapper">
      <div class="planet" id="mars">
        <p class="planet-label" id="mar-label">Mars</p>
        <svg class="planet-shape" id="mar-shape" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <radialGradient id="mars-radial" gradientTransform="translate(-50 -50) scale(1.5)"
              gradientUnits="userSpaceOnUse">
              <!-- light to dark -->
              <stop stop-color="#FF6C4B" />
              <stop offset="1" stop-color="#FF29EA" stop-opacity="0" />
            </radialGradient>
          </defs>
          <circle class="outlinePlanet" cx="50" cy="50" r="40" fill="url('#mars-radial')"
            vector-effect="non-scaling-stroke" />
        </svg>
      </div>
      <svg class="orbit" id="mars-orbit" viewBox="0 0 2000 2000" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.5,1000a997.5,997.5 0 1,0 1995,0a997.5,997.5 0 1,0 -1995,0" vector-effect="non-scaling-stroke" />
      </svg>
    </div>

    <div id="earth-wrapper">
      <div class="planet" id="earth">
        <p class="planet-label" id="ear-label">Earth</p>
        <svg class="planet-shape" id="ear-shape" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <radialGradient id="earth-radial" gradientTransform="translate(-50 -50) scale(1.5)"
              gradientUnits="userSpaceOnUse">
              <!-- light to dark -->
              <stop stop-color="#64FFFF" />
              <stop offset="1" stop-color="#5C80FF" stop-opacity="0" />
            </radialGradient>
          </defs>
          <circle class="outlinePlanet" cx="50" cy="50" r="40" fill="url('#earth-radial')"
            vector-effect="non-scaling-stroke" />
        </svg>
      </div>
      <svg class="orbit" id="earth-orbit" viewBox="0 0 2000 2000" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.5,1000a997.5,997.5 0 1,0 1995,0a997.5,997.5 0 1,0 -1995,0" vector-effect="non-scaling-stroke" />
      </svg>
    </div>

    <div id="venus-wrapper">
      <div class="planet" id="venus">
        <p class="planet-label" id="ven-label">Venus</p>
        <svg class="planet-shape" id="ven-shape" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <radialGradient id="venus-radial" gradientTransform="translate(-50 -50) scale(1.5)"
              gradientUnits="userSpaceOnUse">
              <!-- light to dark -->
              <stop stop-color="#FFC5B8" />
              <stop offset="1" stop-color="#FF9472" stop-opacity="0" />
            </radialGradient>
          </defs>
          <circle class="outlinePlanet" cx="50" cy="50" r="40" fill="url('#venus-radial')"
            vector-effect="non-scaling-stroke" />
        </svg>
      </div>
      <svg class="orbit" id="venus-orbit" viewBox="0 0 2000 2000" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.5,1000a997.5,997.5 0 1,0 1995,0a997.5,997.5 0 1,0 -1995,0" vector-effect="non-scaling-stroke" />
      </svg>
    </div>

    <div id="mercury-wrapper">
      <div class="planet" id="mercury">
        <p class="planet-label" id="mer-label">Mercury</p>
        <svg class="planet-shape" id="mer-shape" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <radialGradient id="mercury-radial" gradientTransform="translate(-50 -50) scale(1.5)"
              gradientUnits="userSpaceOnUse">
              <!-- light to dark -->
              <stop stop-color="#FFE456" />
              <stop offset="1" stop-color="#FF8E25" stop-opacity="0" />
            </radialGradient>
          </defs>
          <circle class="outlinePlanet" cx="50" cy="50" r="40" fill="url('#mercury-radial')"
            vector-effect="non-scaling-stroke" />
        </svg>
      </div>
      <svg class="orbit" id="mercury-orbit" viewBox="0 0 2000 2000" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.5,1000a997.5,997.5 0 1,0 1995,0a997.5,997.5 0 1,0 -1995,0" vector-effect="non-scaling-stroke" />
      </svg>
    </div>

    <div id="sun-wrapper">
      <div class="sun" id="sun">
        <svg class="planet-shape" id="sun-shape" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <radialGradient id="sun-radial" gradientTransform="translate(0.6 0.75) scale(1.2)"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#52A9FF" stop-opacity="0" />
              <stop offset="42%" stop-color="#FF6161" stop-opacity="0.3" />
              <stop offset="1" stop-color="#FFDC7B" />
            </radialGradient>
          </defs>
          <circle class="outlinePlanet" cx="50" cy="50" r="40" fill="url('#sun-radial')"
            vector-effect="non-scaling-stroke" />
        </svg>
      </div>
    </div>
  </div>
  <!-- end wrapper -->

  <!-- waves in background -->
  <div class="wave-container">
    <svg id="wave1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <defs>
        <linearGradient id="wavy1-linear" gradientTransform="rotate(10)">
          <stop offset="0%" stop-color="#BD69FF" stop-opacity="0.1" />
          <stop offset="100%" stop-color="#74FFFF" stop-opacity="0" />
        </linearGradient>
      </defs>
      <path fill="url(#wavy1-linear)"
        d="M0,64L48,58.7C96,53,192,43,288,74.7C384,107,480,181,576,192C672,203,768,149,864,138.7C960,128,1056,160,1152,149.3C1248,139,1344,85,1392,58.7L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
      </path>
    </svg>
  </div>

  <div class="wave-container">
    <svg id="wave2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <defs>
        <linearGradient id="wavy2-linear" gradientTransform="rotate(-10)">
          <stop offset="0%" stop-color="#BD69FF" stop-opacity="0" />
          <stop offset="100%" stop-color="#74FFFF" stop-opacity="0.1" />
        </linearGradient>
      </defs>
      <path fill="url(#wavy2-linear)"
        d="M0,256L48,250.7C96,245,192,235,288,202.7C384,171,480,117,576,85.3C672,53,768,43,864,80C960,117,1056,203,1152,202.7C1248,203,1344,117,1392,74.7L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
      </path>
    </svg>
  </div>

  <div class="raccoonaut">
    <svg viewBox="0 0 974 1861" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M488.09 1860.38C443.63 1860.38 400.97 1788.02 384.91 1760.77C343.32 1690.23 326.91 1612.51 337.47 1536C344.03 1488.45 362.26 1424.29 411.84 1388.71C433.632 1373.12 459.786 1364.8 486.58 1364.94C522.4 1364.94 553.05 1377.63 577.69 1402.67C625 1450.75 640.78 1534.79 639.77 1597.4C639.77 1600.61 639.62 1603.84 639.48 1607C637.73 1646.71 626.39 1687.63 605.77 1728.61C587.22 1765.5 561.2 1802.13 526.22 1840.61C514.29 1853.72 501.5 1860.38 488.09 1860.38Z"
        fill="#D8D7D6" />
      <path
        d="M566.33 1796.23C582.161 1775.34 596.109 1753.09 608.01 1729.74C612.05 1721.69 615.804 1713.48 619.27 1705.11C591.99 1678.31 543 1660.44 487.1 1660.44C431.2 1660.44 382.5 1678.21 355.16 1704.88C362.747 1724.67 371.979 1743.79 382.76 1762.04C388.69 1772.11 396.23 1784.6 404.99 1797.32C428.81 1788.32 456.99 1783.1 487.13 1783.1C516.07 1783.1 543.15 1787.89 566.33 1796.23Z"
        fill="#595252" />
      <path
        d="M486.75 1362.44H486.13C458.974 1362.44 432.494 1370.91 410.38 1386.67C363.15 1420.57 342.63 1480.3 335 1535.67C331.99 1557.5 331.156 1579.58 332.51 1601.57C371.34 1573.23 426.26 1555.57 487.15 1555.57C548.24 1555.57 603.32 1573.37 642.15 1601.88C642.2 1600.42 642.23 1598.96 642.26 1597.48C643.85 1499.28 605.39 1362.57 486.75 1362.44Z"
        fill="#595252" />
      <path
        d="M151.02 271.32C103.08 296.38 137.64 414.5 150.95 459.5C159.39 488.05 180.76 528.37 209.29 543.19C234.57 556.33 233.29 554.48 242.58 533.72C258.09 499.14 252.58 441.05 306.38 433.67C326.79 430.87 352.5 438.75 368.18 424.15C378.04 414.98 391.04 393.6 390.11 380.15C389.49 371.22 372.68 347.38 366.36 340.93C321.86 295.44 267.59 278.71 209.63 269.35C189.22 266.1 167.02 262.96 151.02 271.32Z"
        fill="#B5B1B0" />
      <path
        d="M176.01 317.94C158.59 329.2 158.89 358.94 170.47 397.42C182 435.68 215.04 510.11 254.05 521.66C308.94 537.91 406.63 456.49 374.87 426.06C292.28 346.91 211.63 294.91 176.01 317.94Z"
        fill="#897F7D" />
      <path
        d="M297.37 429.79C303.06 434.42 309.75 437.79 316.21 441.2C318.06 442.2 334.49 450.05 334.08 451.39L351.9 392.28C321.11 372.44 301.11 391.44 274.13 376.01C271.13 381.44 268.13 401.44 285.13 420.44C286.66 422.17 295.6 428.34 297.37 429.79Z"
        fill="#B5B1B0" />
      <path
        d="M821.29 271.32C869.23 296.38 834.67 414.51 821.36 459.54C812.92 488.09 791.55 528.41 763.02 543.23C737.74 556.37 739.02 554.52 729.73 533.76C714.22 499.18 719.73 441.09 665.93 433.71C645.52 430.91 619.81 438.79 604.13 424.19C594.27 415.02 581.27 393.64 582.2 380.19C582.82 371.26 599.63 347.42 605.95 340.97C650.5 295.5 704.72 278.76 762.68 269.4C783.1 266.1 805.29 262.96 821.29 271.32Z"
        fill="#B5B1B0" />
      <path
        d="M796.3 317.94C813.72 329.2 813.43 358.94 801.84 397.42C790.31 435.68 757.27 510.11 718.26 521.66C663.37 537.91 565.68 456.49 597.44 426.06C680.03 346.91 760.68 294.91 796.3 317.94Z"
        fill="#897F7D" />
      <path
        d="M674.94 429.79C669.25 434.42 662.56 437.79 656.1 441.2C654.25 442.2 637.82 450.05 638.23 451.39L620.41 392.28C651.2 372.44 671.2 391.44 698.18 376.01C701.18 381.44 704.18 401.44 687.18 420.44C685.65 422.17 676.71 428.34 674.94 429.79Z"
        fill="#B5B1B0" />
      <path
        d="M594.37 366.44C556.61 353.77 417.12 353.77 379.37 366.44C193.75 428.71 172.87 633.44 150.87 750.44C150.87 750.44 295.61 923.04 486.34 934.53C486.69 934.55 487.04 934.55 487.39 934.53C678.12 923.04 822.87 750.44 822.87 750.44C800.87 633.44 779.98 428.71 594.37 366.44Z"
        fill="#B5B1B0" />
      <path
        d="M496.27 727.94H476.04C465.14 562.83 296.76 479.84 186.1 586.63C167.91 645.5 159.5 704.67 150.87 750.44C150.87 750.44 295.61 923.04 486.34 934.53C486.69 934.55 487.04 934.55 487.39 934.53C678.12 923.04 822.87 750.44 822.87 750.44C814.36 705.18 806.01 646.8 788.24 588.61C677.63 478.82 507.24 561.82 496.27 727.94Z"
        fill="#D8D5D4" />
      <path
        d="M276.5 611.5C229.21 621.05 190.87 635.89 167.23 661.91C160.62 694.08 155.78 724.44 150.89 750.46C150.89 750.46 193.44 801.2 262.8 849.46C271.151 848.518 279.432 847.035 287.59 845.02C367.46 825.51 465.76 733.02 430.85 654.37C412.8 613.75 371.86 592.19 276.5 611.5Z"
        fill="#595252" />
      <path
        d="M822.87 750.44C818.08 724.98 813.35 695.38 806.96 663.98C783.5 636.66 744.37 621.29 695.84 611.5C600.5 592.19 559.5 613.75 541.5 654.38C506.57 733.06 604.87 825.5 684.74 845.03C693.292 847.145 701.979 848.671 710.74 849.6C780.23 801.27 822.87 750.44 822.87 750.44Z"
        fill="#595252" />
      <path
        d="M520.16 801.02C520.16 787.8 504.29 716.29 494.23 710.32C491.799 708.833 489.004 708.047 486.155 708.047C483.305 708.047 480.511 708.833 478.08 710.32C468.02 716.32 452.16 787.8 452.16 801.02C452.16 820.37 467.38 812.6 486.16 812.6C504.94 812.6 520.16 820.37 520.16 801.02Z"
        fill="#897F7D" />
      <path
        d="M524.58 813.14C524.58 822.88 506.65 831.37 495.28 835.77C489.401 838 482.909 838 477.03 835.77C465.66 831.37 447.73 822.88 447.73 813.14C447.73 798.88 464.93 787.31 486.16 787.31C507.39 787.31 524.58 798.88 524.58 813.14Z"
        fill="#595252" />
      <path
        d="M342.54 764.175C356.469 760.442 365.374 748.512 362.43 737.53C359.486 726.548 345.809 720.672 331.88 724.405C317.951 728.138 309.046 740.068 311.99 751.05C314.934 762.032 328.611 767.908 342.54 764.175Z"
        fill="#F9F6F4" />
      <path
        d="M662.448 748.395C665.379 737.459 656.51 725.581 642.64 721.864C628.77 718.148 615.15 724 612.22 734.936C609.29 745.872 618.158 757.751 632.028 761.467C645.898 765.184 659.518 759.331 662.448 748.395Z"
        fill="#F9F6F4" />
      <g style="mix-blend-mode:color-dodge" opacity="0.5">
        <path
          d="M486.58 924.38C753.813 924.38 970.66 718.125 970.66 463.44C970.66 208.755 753.813 2.5 486.58 2.5C219.347 2.5 2.5 208.755 2.5 463.44C2.5 718.125 219.347 924.38 486.58 924.38Z"
          fill="url(#paint0_radial)" style="mix-blend-mode:color-dodge" />
        <path
          d="M486.58 924.38C753.813 924.38 970.66 718.125 970.66 463.44C970.66 208.755 753.813 2.5 486.58 2.5C219.347 2.5 2.5 208.755 2.5 463.44C2.5 718.125 219.347 924.38 486.58 924.38Z"
          stroke="#00C7F4" stroke-width="5" />
      </g>
      <g style="mix-blend-mode:color-dodge" opacity="0.5">
        <path
          d="M860.14 208.89C863.828 233.991 865.677 259.329 865.67 284.7C865.67 569.94 634.44 801.17 349.2 801.17C282.174 801.255 215.775 788.255 153.73 762.9C237.16 844.6 353.85 895.36 483 895.36C736.58 895.36 942.16 699.67 942.16 458.27C942.16 365.57 911.84 279.61 860.14 208.89Z"
          fill="url(#paint1_radial)" />
      </g>
      <g style="mix-blend-mode:color-dodge">
        <path d="M95.27 386.81C93.37 395.67 91.78 404.633 90.5 413.7" stroke="#4EDEFF" stroke-width="40"
          stroke-miterlimit="10" stroke-linecap="round" />
      </g>
      <g style="mix-blend-mode:color-dodge">
        <path
          d="M323.21 116.36C274.873 136.956 231.059 166.857 194.26 204.36C172.664 226.391 153.808 250.949 138.1 277.5C134.86 282.98 131.763 288.547 128.81 294.2"
          stroke="#4EDEFF" stroke-width="40" stroke-miterlimit="10" stroke-linecap="round" />
      </g>
      <path
        d="M891.5 900.5C902.8 873.91 892.65 844.38 852.98 872.98C848.98 875.86 852.71 865.82 846.52 863.76C843.75 862.84 822.73 873.98 812.38 879.44C724.38 925.86 690.83 893 649.31 909.27C609.14 871.12 559.44 914.13 486.6 914.13C413.76 914.13 364.06 871.13 323.89 909.27C282.36 893 248.76 925.86 160.82 879.44C150.47 873.98 129.45 862.84 126.68 863.76C120.49 865.82 124.22 875.86 120.22 872.98C80.5001 844.35 70.3801 873.88 81.6701 900.5C121.67 994.61 142.08 1045.25 186.67 1075.05C196.593 1081.71 207.18 1087.33 218.26 1091.81C211.9 1107.36 205.373 1123.77 198.68 1141.03C197.08 1145.12 195.68 1149.3 194.49 1153.54C185.17 1180.54 180.14 1220.05 182.19 1275.98C183.01 1297.98 206.75 1483.98 192.19 1487.54C68.8001 1517.54 271.07 1575 303.25 1559.09C381.25 1520.49 418 1450.86 445.94 1397.66C473.01 1396.17 500.141 1396.17 527.21 1397.66C555.15 1450.86 591.88 1520.49 669.91 1559.09C702.09 1575 904.35 1517.54 780.96 1487.54C766.45 1484.02 790.19 1298.03 790.96 1275.98C793.02 1220.05 787.96 1180.51 778.66 1153.54C777.47 1149.3 776.07 1145.12 774.48 1141.03C767.76 1123.74 761.233 1107.34 754.9 1091.81C765.985 1087.32 776.575 1081.69 786.5 1075.02C831.07 1045.22 851.5 994.58 891.5 900.5Z"
        fill="#F5F6F7" stroke="#C1C4E0" stroke-width="5" />
      <path
        d="M401.43 1010.94H571.73C597.052 1010.94 617.58 1031.47 617.58 1056.79V1227.09C617.58 1252.41 597.052 1272.94 571.73 1272.94H401.43C376.108 1272.94 355.58 1252.41 355.58 1227.09V1056.79C355.58 1031.47 376.108 1010.94 401.43 1010.94Z"
        fill="#F5F6F7" stroke="#C1C4E0" stroke-width="5" />
      <path
        d="M657.66 900.98C657.66 922.534 642.313 945.161 613.368 962.536C584.498 979.865 542.465 991.7 490.16 991.7C437.855 991.7 395.821 979.865 366.952 962.536C338.006 945.161 322.66 922.534 322.66 900.98C322.66 895.538 323.632 891.864 325.238 889.401C326.794 887.016 329.123 885.491 332.489 884.691C335.932 883.871 340.369 883.837 345.897 884.458C351.402 885.076 357.807 886.321 365.12 887.942C369.526 888.919 374.243 890.028 379.259 891.207C407.473 897.841 445.151 906.7 490.16 906.7C535.169 906.7 572.847 897.843 601.061 891.21C606.077 890.031 610.794 888.922 615.199 887.946C622.513 886.325 628.918 885.08 634.422 884.462C639.95 883.841 644.388 883.876 647.831 884.695C651.197 885.496 653.526 887.019 655.081 889.404C656.688 891.866 657.66 895.539 657.66 900.98Z"
        fill="#F5F6F7" stroke="#C1C4E0" stroke-width="5" />
      <path
        d="M523.82 1110.43C519.507 1106.12 513.658 1103.7 507.56 1103.7C501.462 1103.7 495.613 1106.12 491.3 1110.43L486.58 1115.15L481.86 1110.43C477.532 1106.19 471.707 1103.83 465.65 1103.87C459.593 1103.9 453.794 1106.32 449.51 1110.6C445.227 1114.88 442.805 1120.68 442.772 1126.74C442.738 1132.79 445.095 1138.62 449.33 1142.95L486.58 1180.19L523.82 1142.95C528.131 1138.64 530.553 1132.79 530.553 1126.69C530.553 1120.59 528.131 1114.74 523.82 1110.43V1110.43Z"
        fill="#FFB1CE" />
      <defs>
        <radialGradient id="paint0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
          gradientTransform="translate(486.58 463.44) scale(714.07)">
          <stop stop-color="#00C7F4" />
          <stop offset="0.51" stop-color="#06A0D4" stop-opacity="0.7" />
          <stop offset="1" stop-color="#143D84" stop-opacity="0" />
        </radialGradient>
        <radialGradient id="paint1_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
          gradientTransform="translate(547.945 552.125) rotate(90) scale(343.235 394.215)">
          <stop stop-color="#00C7F4" />
          <stop offset="1" stop-color="#00C7F4" stop-opacity="0" />
        </radialGradient>
      </defs>
    </svg>
  </div>

  <script src="scripts/planetData.js"></script>
  <script src="scripts/main.js"></script>
  <script src="scripts/bg-comets.js"></script>
  <script src="scripts/bg-stars.js"></script>
  <script src="scripts/orbits.js"></script>
  <script src="scripts/label-animations.js"></script>
  <script src="scripts/raccoonaut.js"></script>
</body>

</html>